/* config générale */
:root {
  --cadre-color: black;
  --largeur-élement-du-ctr: 70%;
}
.titre {
  width: var(--largeur-élement-du-ctr, 70%);
  background-color: black;
  color: white;
  margin: auto;
  padding: 5px
}

body {
  padding-top: 20px;
}
h1{
  text-align: center;
  font-size: 1.2em;
}
h2{
  font-size: 1.0em;
}

p{
  font-size: 0.8em;
  margin: auto;
  padding: 1px;
}
a {
  margin: .5em;
}
/*    général des boutons   */
button {
  margin: .4em;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
[type='submit'] {
  padding: .8px;
  margin: 2px;
  border-radius: 3px;
}
button:hover, [type='submit']:hover {
  transform: scale(1.2);
}
hr {
  width: 70%;
  position: relative;
  right: 4em;
}
/*     nav     */
.nav {
/*  display: flex;
  justify-content: center;*/
  position: fixed;
  top: 10px;
  right: 0px;
}
/*  box conteneur JS :  */
#dom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*   mise en page de la liste  */
.boxListe {
  width: var(--largeur-élement-du-ctr, 70%);
  border: .3px var(--cadre-color, black) solid;
  padding: 1.2em;
  margin: .2em;
  box-shadow: 0 4px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.titreTodo {
  font-size: 1.4em;
  font-weight: bold;
}
